* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.App {
    background-color: #7C3AED;
    height: 100vh;
}

.container {
    display: flex;
}


.mid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.main {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    flex-wrap: wrap;
    margin: 0 10px;
}

.heading {
    text-align: center;
    padding-bottom: 30px;
}

.joke {
    text-align: center;
    font-size: 1rem;
    flex-wrap: wrap;
}